 * {
     padding: 0;
     box-sizing: border-box;
     max-width: 100%;
     max-height: 100%;
     margin:0 auto;
}

 .wrapper{
     display: flex;
    }

 body {
     background-color: #404040;
    }

 .heading{
     color: #ffd600;
     position: absolute;
     top: 20%;
     text-align: center;
     font-size: 64px;
     font-family:Ropa Sans;
     line-height: 40px;
     letter-spacing: 0.15em;
     font-weight: normal;
     font-style: normal;
     margin-left: 30px;
}
 
 .card{
     display:flex;
     position:static;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     margin-left: 100px;
     margin-right: 100px;
     padding-bottom: 100px;
     border: 10px;
}
 p{
    
     margin-top: 20px;
     font-weight: bold;
     letter-spacing: 0.15em;
     padding:0px 20px 20px 0px;
}

 .card1{
     background-color: #535556;
     width: 40%;
     height: 85vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: visible;
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
     position: relative;
     margin-bottom: 4em;
     color: #ffd600;
     font-family:Ropa Sans;
     font-size: 24px;
     line-height: 28px;
     letter-spacing: 0.15em;
     font-weight: normal;
     font-style: normal;
   }  
 
 .card2{
     background-color:#748687;
     width: 40%;
     /* height: 500px; */
     height: 85vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: visible;
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
     position: relative;
     margin-bottom: 4em;
     color: #ffd600;
     font-family:Ropa Sans;
     font-size: 24px;
     line-height: 28px;
     letter-spacing: 0.15em;
}

 .six-quarter{
     width: 100%;
     height: 300px;
}

 .nav-list{
     display: flex;
     flex-direction: column;
     list-style-type:none;
}

 .nav-item {
     width:100%;
     flex:1;
     color: #ffffff;
     font-size: 24px;
     display: flex;
     align-items: center;
     padding-left: 25px;
     letter-spacing: 0.15em;
     line-height: 28px;
     font-family:Roboto;
     font-style: normal;
     }

 .nav-item:nth-child(1){
     background-color:#8e8e8e ;
     flex: 1;
    }

 .nav-item:nth-child(2){
     background-color:#e1dede ;
}

 .nav-item:nth-child(3){
     background-color:#444444 ;
}

 .nav-item:nth-child(4){
     background-color:#e1dede ;
}

 .nav-item:nth-child(5){
     background-color:#8e8e8e ;
}

 .nav-item:nth-child(6){
     background-color:#e1dede ;
}

.box1{
    /* display: flex; */
    /* flex:1; */
    background-color: #c4c4c4;
    width: 100%;
    height: 250px;
}

.box2{
    background-color: #8e8e8e;
    width: 100%;
    height: 250px;
}

h3{
     color: rgb(64,64,64);
     text-align: center;
     letter-spacing: 00.02em;
     font-size: smaller;
     background-color: #c4c4c4;
     width: 100%;
     flex: 1;
    }

 .buttons {
     display: flex;
     flex-direction: row;
     background-color: #c4c4c4;
}
    
 button {
     background-color: grey;
     border-radius: 20px;
     color: white;
     padding: 5px 5px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
}

 .buttonleft {
     color: white;
     font-size: 10px;
}

 .buttonright {
     color: white;
     font-size: 10px;
}

