 *{
     padding: 0;
     box-sizing: border-box;
     max-width: 1265px;
     margin:0 auto;
  }

 .wrapper{
     display: flex;
   }

 body {
     background-color: #404040;
   }

 .heading{
     color: #ffd600;
     position: absolute;
     top: 20%;
     text-align: center;
     font-size: 64px;
     font-family:Ropa Sans;
     line-height: 40px;
     letter-spacing: 0.15em;
     font-weight: normal;
     font-style: normal;
     margin-left: 30px;
    }
 
 .card{
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     border: 10px;
   }

 .card1{
     width: 256px;
     height: 308px;
     background-color: #535556;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: visible;
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
     position: relative;
     margin-bottom: 4em;
     color: #ffd600;
     font-family:Ropa Sans;
     font-size: 20px;
     line-height: 32px;
     letter-spacing: 0.02em;
     font-weight: normal;
     font-style: normal;
   } 

 .card2{
     width: 256px;
     height: 308px;
     background-color:#748687;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: visible;
     border-radius: 10px 10px 0px 0px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
     position: relative;
     margin-bottom: 4em;
     color: #ffd600;
     font-family:Ropa Sans;
     font-size: 20px;
     line-height: 32px;
     letter-spacing: 0.02em;
     font-weight: normal;
     font-style: normal;
    
    }
